:root{
  --greyish: #ddd;
  --app-purple: #800080;
  --app-dark-grey: #413C3C;
  --app-purple-hover: #c412c4;
  --menu-highlight: #e475e4;
  --small-font: 12px;
  --nav-height: 78px;
  --calculator-width: 300px;
}


.scrollbars::-webkit-scrollbar {
  width: 6px;
}

.scrollbars::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}

.scrollbars::-webkit-scrollbar-thumb {
  background-color: var(--app-purple);
  border-radius: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  /* font-size: 18px; */
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--app-purple);
  border-radius: 3px;
}

* {
  box-sizing: border-box;
}

.container{
    max-width: 1144px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: left;
}

button{
  background-color: var(--app-purple) !important;
  color: white;
  border-radius: 20px !important;
  border: 1px solid var(--app-purple) !important;
  font-size: var(--small-font) !important;
}

button:hover{
  background-color: var(--app-purple-hover) !important;
}

.drawerContent{
  height: 150px; 
  background-image: url(/assets/images/backgrounds/SideMenu_TopImg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  color: white;
}

.ant-menu, .ant-menu-sub, .ant-menu-item, 
.ant-menu-submenu, .ant-menu-submenu-inline, 
.ant-menu-light, .ant-menu-root{
  background-color: var(--app-purple-hover) !important;
}

.ant-menu-submenu-title, .ant-menu-item, 
.ant-menu-submenu-arrow, .ant-menu-item-group-title{
  color: white !important;
}

.ant-menu-submenu-arrow{
  color: white !important;
}

.ant-menu-submenu-selected, .ant-menu-submenu-active
/* .ant-menu-item-selected, .ant-menu-item-active */
{
  background-color: var(--menu-highlight) !important;
}

.ant-drawer-body, .ant-drawer-wrapper-body, .ant-drawer-content{ 
  padding: 0px !important;
  background-color: var(--app-purple-hover);
  overflow-x: hidden !important;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 6px;
}

.ant-drawer-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 3px;
}

.ant-drawer-body::-webkit-scrollbar-thumb {
  background-color: var(--app-purple);
  border-radius: 3px;
}

.ant-menu.ant-menu-light, .ant-menu-item-group{
  background-color: var(--app-purple-hover);
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none !important;
}

/* For demo */
.ant-carousel {
  height: 100vh !important;
  overflow: hidden;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 100vh;
  line-height: 100vh;
  overflow: hidden;
}

/* .loanSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg.png);
  background-size: cover;
  background-position: center;  
} */

.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg.png);
  background-size: cover;
  background-position: center;
}

.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg2.png);
  background-size: cover;
  background-position: center;
    
}
.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg3.png);
  background-size: cover;
  background-position: center;  
}

/* Now for the investment slides */

/* .investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg.png);
  background-size: cover;
  background-position: center;  
} */

.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg.png);
  background-size: cover;
  background-position: center;  
}

.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg2.png);
  background-size: cover;
  background-position: center;  
}
.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg3.png);
  background-size: cover;
  background-position: right;  
}

/* Now for the cooperative slides */

/* .cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/HeroImgCoop_.png);
  background-size: cover;
  background-position: center;  
} */

.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/HeroImgCoop_.png);
  background-size: cover;
  background-position: right;  
}

.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/HeroImg2Coop_.png);
  background-size: cover;
  background-position: right;  
}
.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/HeroImg3Coop_.png);
  background-size: cover;
  background-position: center;  
}
.ant-scrolling-effect{
  width: 100% !important;
}

.apply_background{
  height: 500px;
  background-image: url(/assets/images/backgrounds/Forms_HeroImg.png);
  background-size: cover;
}

.about_us_background{
  height: 500px;
  background-image: url(/assets/images/backgrounds/Banner_for_the_Company_Page.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms_and_conditions_background{
  height: 500px;
  background-image: url(/assets/images/backgrounds/terms-and-conditions.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy_policy_background{
  height: 500px;
  background-image: url(/assets/images/backgrounds/Privacy_Policy.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq_background{
  height: 500px;
  background-image: url(/assets/images/backgrounds/FAQ-picture.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ant-modal-content{
  text-align: center;  
}


.ant-modal-body .modalBottomSplit{
  display: flex;  
}

.ant-modal-body .modalBottomSplit div{
  flex: 1;
}

.ant-modal-body .modalBottomSplit ul{
  padding-left: 15px;
}

.ant-modal-content{
  border-radius: 15px !important;
  overflow: hidden;
}

.ant-modal-content .ant-modal-close{
  background-color: white !important;
  border: none !important;
  outline: none !important;
}

.ant-modal-footer{
  text-align: center  !important;
}

.ant-modal-footer button{
  padding: 10px 30px;
  height: 40px;
  border-radius: 5px;
}

.questionsList li{
  margin: 15px 0px;
}

.formInput{
  border: none;
  border-bottom: 1px solid#aaa;
  width: 100%;
  height: 42px;
  outline: none !important;
  padding-left: 10px;
  
}

.formInputDiv{
  display: flex;
  margin-top: 30px;
  
}

.formInputDiv div{
  flex: 1;
  padding-right: 10px;
}

.formInputDiv label{
  font-weight: bold;
  align-self: baseline !important;
  color: #aaa;

}

.ant-menu-submenu:hover{
  background-color: var(--menu-highlight) !important;
}

/* .ant-menu-submenu-title:hover{
  background-color: white !important;
} */

.ant-menu-item-only-child:hover{
  background-color: var(--menu-highlight) !important;
}

.ant-menu-submenu-arrow::after, .ant-menu-submenu-arrow::before{
  background-image: linear-gradient(to right, rgba(255,255, 255, 0.65), rgba(255, 255,255, 0.65)) !important;
}

.loansText{
  width: 300px;
  position: static; 
  margin-top: 400px;
}

.calculator{
  background-color: white; 
  border-radius: 15px; 
  padding: 15px; 
  width: var(--calculator-width); 
  position: absolute;
  bottom: 16px; 
  right: 0px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
} 
.calculator label, .calculator input, .calculator small{
  display: block;
  color: var(--app-purple);
}    

.calculator label{
  font-size: 10px;
}

.calculator input, .calculator select{
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--app-purple);
  padding-left: 5px;
  font-size: 13px;
  outline: none;
}

.calculator small{
  margin-bottom: 5px;
}

.calculator .error{
  color: red;
}

@media  screen and (max-width: 768px){
  .container{
    width: 100%;
    padding: 20px;
    display: block;
    margin: auto;
    text-align: left;
  }

  .ant-carousel .slick-list .slick-slide{
    background-position: 70% top;
  }

  .loansText{
    width: 300px;
    position: static; 
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .calculator{
    background-color: white; 
    border-radius: 15px; 
    padding: 15px; 
    width: var(--calculator-width); 
    position: static;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  } 

  
.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg.png);
  background-size: cover;
  background-position: left;
}

.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg2.png);
  background-size: cover;
  background-position: left;
    
}
.loanSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/Loans_HeroImg3.png);
  background-size: cover;
  background-position: left;
  
}

/* Now for the investment slides */

/* .investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg.png);
  background-size: cover;
  background-position: center;  
} */

.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg.png);
  background-size: cover;
  background-position: left;
}

.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg2.png);
  background-size: cover;
  background-position: left;
    
}
.investmentSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/Invstment_HeroImg3.png);
  background-size: cover;
  background-position: left;
  
}

/* Now for the cooperative slides */

/* .cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/HeroImgCoop_.png);
  background-size: cover;
  background-position: center;  
} */

.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(1){
  background-image: url(/assets/images/backgrounds/HeroImgCoop_.png);
  background-size: cover;
  background-position: left;
}

.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(2){
  background-image: url(/assets/images/backgrounds/HeroImg2Coop_.png);
  background-size: cover;
  background-position: left;
    
}
.cooperativeSlides .ant-carousel .slick-list .slick-slide:nth-child(3){
  background-image: url(/assets/images/backgrounds/HeroImg3Coop_.png);
  background-size: cover;
  background-position: left;
  
}
}
